html {
    box-sizing: border-box;
  }
  
  *, *:after, *:before {
    box-sizing: inherit;
  }
  
  *::first-letter {
    text-transform: capitalize;
  }


body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

article{
    margin: 15px;
}

input {
    width: 300px;
    height: 25px;
}

textarea {
    width: 300px;
    height: 150px;
}

#champ {
    background-color: rgb(216, 216, 215);
    padding: 10px;
}

